*

!README.md

!.gitignore

!.zshrc
!.zprofile
!.p10k.zsh

!scripts
!scripts/**/*

!utils
!utils/**/*

!.config

!.config/git
!.config/git/config

!.config/mise
!.config/mise/config.toml

!.config/nvim
!.config/nvim/**/*

!.config/sheldon
!.config/sheldon/plugins.toml

!.config/tmux
!.config/tmux/tmux.conf

!.config/zellij
!.config/zellij/config.kdl
!.config/zellij/layouts
!.config/zellij/layouts/default.kdl

!.config/zsh-abbr
!.config/zsh-abbr/user-abbreviations

