*

!README.md

!.gitignore

!.zshrc
!.p10k.zsh

!scripts
!scripts/**/*

!.config

!.config/git
!.config/git/config

!.config/nvim
!.config/nvim/**/*

!.config/sheldon
!.config/sheldon/plugins.toml

!.config/tmux
!.config/tmux/tmux.conf

!.config/zsh-abbr
!.config/zsh-abbr/user-abbreviations

